$icon-twitter: "\e900";
$icon-youtube: "\e901";
$icon-checkbox: "\e902";
$icon-video: "\e903";
$icon-send: "\e904";
$icon-instagram: "\e905";
$icon-download: "\e906";
$icon-thumb: "\e907";
$icon-inbox: "\e908";
$icon-menu: "\e909";
$icon-star: "\e90a";
$icon-facebook: "\e90b";
$icon-phone: "\e90c";

