// Text align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Z-index
.z-index-1 {
  z-index: 1;
}

.z-index-1 {
  z-index: 2;
}

.z-index-1 {
  z-index: 3;
}

.z-index-1 {
  z-index: 4;
}

.overflow-hidden {
  overflow: hidden;
}

.color-primary {
  color: $color-primary;
}

.color-dark {
  color: $color-dark;
}

.color-light {
  color: $color-text-light;
}
